.inline-block {
    display: inline-block;
    vertical-align: top;
    color: #59dbb8;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: top;
}
nav {
    width: 82%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroimg {
    height: 500px;
    padding: 25px;
    background-color: #ccafc0;
    margin-right: 200px;
    text-align: center;
}
.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
header,footer {
   background-color: #453434; 
}
h1 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myskills {
    background-color: #453434;
}

.flexcontainer {
    display: flex;
    flex-wrap:wrap; 
    margin-right: 0;
}
.flexcontainer > div {
    margin: 2px;
    padding: 18px;
}
.skill {
    display: flexbox;
    width: 50%;
    margin: 2px;
}
.workgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.photo {
    color: #453434;
    padding: 5px;}
.inside {color: #59dbb8;}
@media only screen and (max-width: 600px) {
    #workgrid {grid-template-columns: 300px 300px;}
    }